# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore environment and secret files
.env
*.env

# Ignore logs
*.log
