<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home Page</title>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarModern"
      aria-controls="navbarModern" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarModern">
  <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
  <form class="form-inline mt-3 mt-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search..." />
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>
</div>


  </div>
</nav>
<br><br><br>
<center>
   <h1 class="text-center text-primary mt-5">This word is under development</h1>
<p class="text-center">It will be created by <strong>Mr. Dara</strong> soon.</p>

</center>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
