<footer class="bg-dark text-light mt-5 pt-4 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>About MyShop</h5>
        <p class="small">Your one-stop online store for quality and affordable products. Shop with confidence and comfort from your home.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/home" class="text-light">Home</a></li>
          <li><a href="/products" class="text-light">Products</a></li>
          <li><a href="/about" class="text-light">About</a></li>
          <li><a href="#" class="text-light">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Contact</h5>
        <p class="small mb-1"><i class="fa fa-envelope mr-2"></i> support@myshop.com</p>
        <p class="small"><i class="fa fa-phone mr-2"></i> +855 123 456 789</p>
      </div>
    </div>

    <hr class="bg-secondary" />
    <div class="text-center small">
      &copy; {{ current_year }} MyShop. All rights reserved.
    </div>
  </div>
</footer>
